
mixin modal() 
	//  start modals

	+b.modal-win(id="modal-call" class=" " style="display: none" )
		+form-wrap
			.text-center
				+e.title.form-data Заказать звонок
			+input("Введите Ваш телефон",'tel')(required)
			+e.BUTTON.btn.btn.btn-success(type="submit") Заказать звонок
			+polite()
			+e.logo
				+pic('logo-modal','','')

	+b.modal-win(id="modal-feedback" class="modal-feedback " style="display: none" )
		+form-wrap
			.text-center
				+e.title.form-data Бесплатная<br>консультация
			+input("Введите Ваш телефон",'tel')(required)
			+e.BUTTON.btn.btn.btn-danger(type="submit") Отправить заявку
			+polite()
			+e.logo
				+pic('logo-modal','','')
	// #modal-call
	+b.modal-win(id="modal-thanks" class="" style="display: none" )
		+form-wrap
			.text-center
				+e.title.form-data Мы перезвоним вам в ближайшее время
			+e.logo
				+pic('logo-modal','','')
	
	// end modals