.modal-win {
	// display: block;
	width: 100%;
	position: relative;
	padding: rem(80) rem(20) rem(20);
	@include media-breakpoint-up(sm) {
		padding: rem(92) rem(48) rem(20);
	}
	box-shadow: 4px 6px 38px rgba(198, 205, 220, 0.75);
	border-radius: 20px;
	max-width: rem(391);

	&::before {
		content: '';
		position: absolute;
		top: 0;
		@include a-cent(x);
    height: 0;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #018cf1;
	}

	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}

	.form-wrap {
		form {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__title {
			font-size: 30px;
			margin-bottom: rem(69);
			line-height: calc(34/30);
		}

		&__input {
			max-width: 220px;
			width: 100%;
			margin-bottom: rem(17);
		}

		&__polite {
			font-size: 12px;
			text-align: center;
		}

		&__btn {
			max-width: 220px;
			width: 100%;
			margin-bottom: rem(38);
		}
	}
}

#modal-polite {
	max-width: 100%;
	padding: rem(20);
	@include media-breakpoint-up(sm) {
		padding: rem(50) rem(48) rem(20);
	}
}

.modal-feedback {
	.form-wrap {
		&__title {
			margin-bottom: rem(29);
		}
	}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}


// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}