mixin sOurWork()
	// start sOurWork
	+b.SECTION.sOurWork.section#sOurWork&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Как мы работаем
			.row
				.col
					ol
						li Вы&nbsp;оформляете заявку
						li Наш специалист связывается с&nbsp;вами в&nbsp;течение 15&nbsp;минут
						li Выявляем Ваши потребности и предлагаем решение
						li Подписываем соглашение о неразглашении (NDA)
						li Получаем тестовую ретро выборку и обогащаем данными тестируемого сервиса
						li Вы&nbsp;получаете результаты для оценки эффективности сотрудничества
						li Принимаете решение об&nbsp;использовании сервиса в&nbsp;реальном времени

				.col-lg-auto
					+e.text Сервис &laquo;ScoringDATA&raquo; опробован на&nbsp;42&nbsp;млн. реальных заявок, что позволило нашим клиентам заработать более 163&nbsp;млн. рублей.<br> Снижение рисков исключает вероятность недополучения прибыли и&nbsp;возникновения дополнительных расходов, связанных с&nbsp;урегулированием споров.<br> Узнайте, как сервис &laquo;ScoringDATA&raquo; поможет снизить риски и&nbsp;увеличить доходы вашей организации.
					+e.form-light
						+e.title Заполните заявку на бесплатную консультацию специалиста.
						+form-l()




	// end sOurWork