// start .headerBlock
.headerBlock {
	background-color: #121c37;

	@include media-breakpoint-up(sm){
		--sPT: #{rem(92)};
		
	}
	--sPT: #{rem(45)};
	--sPB: #{rem(49)};

	.section-title{
		--sTPB: #{rem(2)};
	}
	
	// margin-bottom: 1px;
	// min-height: 100vh;
	// min-height: calc(var(--vh, 1vh) * 100);
	// background-image: url(../img);
	// background-color: #000000;

	h1 {
		margin-bottom: rem(11);
		font-weight: bold;
		line-height: (52 / 40);
		color: #ffffff;
	}

	// h2 {
	// 	margin-bottom: 1px;
	// }

	p{
		@include media-breakpoint-up(sm){
			font-size: rem(20);
			margin-bottom: rem(38);
		}
		font-size: $em-base;
		line-height: (24 / 20);
		color: #37bfff;
		max-width: rem(386);
		margin-bottom: rem(20);
	}

	&__title{
		@include media-breakpoint-up(sm){
			font-size: rem(20);
			margin-bottom: rem(28);
		}
		font-size: $em-base;
		margin-bottom: rem(20);
		font-weight: bold;
	}

	.green{
		color: #86dc87;
	}

	&__form-dark{
		position: relative;
		// margin-right: auto;
		// margin-left: auto;
		@include media-breakpoint-up(sm){
			padding: rem(30) rem(90) rem(21) rem(34);
		}
		padding: rem(24) rem(37) rem(21) rem(26);
		// padding: 35px 90px 21px 34px;
		max-width: rem(563);
		
		z-index: 2;
		&::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			box-shadow: 0 8px 21px rgba(84, 101, 136, 0.75);
			background-color: #1c1e35;
			opacity: 0.36;
			border-radius: 20px;
			z-index: -1;
		}
	}

	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock

