mixin headerBlock()
	// start headerBlock
	+b.headerBlock.bg-wrap.section#headerBlock&attributes(attributes)
		+pic('header', 'bg', '')(class="picture-bg")
		.container
			+b.section-title
				h1 Hit-Rate&gt; 90% <br> GINI generic моделей от + 2,6 п.п.  до + 8 п.п.
			p Скоринг на&nbsp;основе анонимизированных поведенческих данных.

			+e.form-dark
				+e.title.text-white #[span.green Бесплатное] ретро-тестирование*!
				+form-d()
						
	// end headerBlock