mixin sRisks()
	// start sRisks
	+b.SECTION.sRisks.section#sRisks&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 &laquo;SmartDATA&raquo; снижает ваши риски
			.row
				.col-lg-auto
					+e.img-wrap
						+pic('risks','','')
				+e.col.col
					+e.text.mb-20 Прерогативой компании остается ориентация на&nbsp;потребности и&nbsp;пожелания клиента. Наша цель заключается в&nbsp;снижении рисков партнера за&nbsp;счет дополнительных данных для скоринговой карты клиента.
					+e.text Мы&nbsp;уверены в&nbsp;эффективности сервиса &laquo;ScoringDATA&raquo; и&nbsp;гарантируем прирост GINI&mdash; generic модели.
					+e.text.mb-50 Благодаря оптимизации алгоритмов интеграции сервиса, передовому языку программирования и&nbsp;простому API, #[span.text-primary на&nbsp;введение в&nbsp;эксплуатацию требуется менее 1&nbsp;месяца]. Это в&nbsp;6&nbsp;раз быстрее сторонних разработок, требующих дополнительных трудозатрат на&nbsp;внедрение и&nbsp;настройку. Обеспечиваем поддержку в&nbsp;режиме 24/7.
					+e.btn.btn.btn-danger.link-modal(href="#modal-feedback") Бесплатная консультация

				
	// end sRisks