mixin topLine()
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		.container
			.row.align-items-center
				.col-auto
					+e.logo(href="/")
						img.res-i(src="img/logo.png", alt="")
				
				+e.col.col
					+mnu(class="d-none d-lg-flex")
					+e.tel.text-body.d-none.d-md-block(href="tel:+78005050873") #[span.text-danger 8 800] 505 0873
					+e.btn.btn.btn-success(href="#") Заказать звонок
				.col-auto.d-lg-none
					+mob-mnu()


	// end topLine