mixin sCredit()
	// start sCredit
	+b.SECTION.sCredit.section#sCredit&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Почему кредиторы теряют прибыль
			.row
				.col-lg-5
					+pic('credit')
				.col-lg-7
					p Современный рынок кредитования сталкивается с&nbsp;необходимостью повышения эффективности в&nbsp;работе кредитных учреждений. А&nbsp;также минимизации затрат, связанных с&nbsp;урегулированием разногласий между заемщиком и&nbsp;кредитором. <br> Упущенная прибыль становится ответом на&nbsp;один из&nbsp;двух вопросов:
					ul
						li Соответствие кредитного предложения реальным потребностям клиента.
						li Сколько действующих заемщиков выполнят свои обязательства перед кредитором?

				+e.text Сервис &laquo;ScoringDATA&raquo; позволяет значительно сократить риски кредитора, благодаря поиску и&nbsp;аналитике внешних источников: реестры данных, социальные платформы, доски объявлений, банки резюме; а&nbsp;также собственные базы данных.




	// end sCredit