mixin sCards()
	// start sCards
	+b.sCards.section#sCards&attributes(attributes)
		.container
			+e.row.row
				mixin item(h,t)
					+e.col.col-lg.col-md-4.col-sm-6.col-12
						+e.item
							+e.title!= h
							+e.text!= t
							block

				+item(`ScoringDATA`,`Сервис по обогащению данными. Внешнее обогащение данных о потенциальном заемщике.`)
				+item(`ScoringDATA+`,`Максимальная точность предсказания за счет внешнего обогащения данными по расширенным критериям.`)
				+item(`Альтернативный номер`,`Сервис* поиска альтернативных телефонных номеров используемых анализируемым субъектом.`)
					+e.dopText *Может предоставляться как в Online, так и в Offline режиме.
				+item(`Работа по запросу`,`Индивидуальный подход к решению ваших целей и задач.`)
				+item(`Геоаналитика`,``)
					+icon('clock')
					+e.dopText В разработке...

			
	// end sCards