	// start .sCards
.sCards {
		
	--sPT: #{rem(54)};
	@include media-breakpoint-up(lg){
		--sPB: #{rem(40)};
	}
	--sPB: #{rem(24)};

	&__row{
		@include media-breakpoint-up(lg){
			--bs-gutter-x: 0;
		}
		--bs-gutter-x: #{rem(25)};
		justify-content: center;
	}

	&__col{
		@include media-breakpoint-up(lg){
			margin-bottom: 0;
		}
		margin-bottom: rem(25);
	}

	&__item{
		position: relative;
		max-width: rem(235);
		height: 100%;
		min-height: rem(316);
		box-shadow: 0 7px 38px rgba(198, 205, 220, 0.75);
		background-color: $white;
		border-radius: rem(30);
		text-align: center;
		@include media-breakpoint-down(sm){
			margin-left: auto;
			margin-right: auto;
		}
		padding: rem(59) rem(18) rem(26);
		&::before{
			content: '';
			top: 0;
			@include a-cent(x);
			@include triangle(40px 20px, $primary, down);
		}
	}

	&__col:nth-child(1) &__item{
		z-index: 5;
		&::before{
			border-top-color: #018cf1;
		}
	}
	&__col:nth-child(2) &__item{
		z-index: 4;
		&::before{
			border-top-color: #6dae77;
		}
	}
	&__col:nth-child(3) &__item{
		z-index: 3;
		.sCards__text{
			margin-bottom: 1rem;
		}
		&::before{
			border-top-color: $warning;
		}
	}
	&__col:nth-child(4) &__item{
		z-index: 2;
		&::before{
			border-top-color: #1d4996;
		}
	}
	&__col:nth-child(5) &__item{
		z-index: 1;
		color: #baccd9;
		.sCards__title{
			color: #bacdda;
		}
		&::before{
			border-top-color: #eccdcd;
		}
	}

	&__title{
		margin-bottom: rem(23);
		color: $primary;
		font-weight: bold;
		line-height: (24 / 16);
	}

	&__dopText{
		color: $secondary;
		font-size: rem(11);
	}

	.icon{
		margin-bottom: rem(14);
	}






	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

} // end.sCards